{% extends 'base.html.twig' %}

{% block body %}

    <h1>Creation d'une édition</h1>
    <p class="pull-right">
{# <a href="{{ path('') }}"><span class="glyphicon glyphicon-th-list"></span> Retour à la liste</a> #}
    </p>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.nom_edition, { 'label': 'Nom  ' }) }}
    {{ form_row(form.date_edition, { 'label': 'Date  ' }) }}

    {{ form_row(form.save, { 'label': 'Enregistrer' }) }}
    {{ form_end(form) }}

{% endblock %}