<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar is-success" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="{{ asset('images/yugioh.svg') }}" alt="Yugioh">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu is-centered">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ path('cartes_show') }}">
                    Cartes
                </a>

                <a class="navbar-item" href="{{ path('app_edition') }}">
                    Editions
                </a>

                <a class="navbar-item" href="{{ path('cartes_show') }}">
                    Langues
                </a>
            </div>
        </div>
    </nav>
        {% block body %}

        {% endblock %}
    </body>
</html>
