{% extends 'base.html.twig' %}

{% block body %}

    <h1>Voici les cartes :</h1>

    <table border="1" class="table is-bordered is-striped is-hoverable is-narrow is-fullwidth">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Catégorie</th>
            <th>Image</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        {% for carte in cartes %}
            <tr>
                <td>{{ carte.getId() }}</td>
                <td>{{ carte.getCarteNom() }}</td>
                <td>{{ carte.getCarteCategorie() }}</td>
                <td>{{ carte.getCarteImage() }}</td>
                <td>{{ carte.getCarteType() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}