{% extends 'base.html.twig' %}

{% block body %}
    <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item is-active" href="{{ path('cartes_show') }}"> Cartes </a>
            <a class="navbar-item" href="{{ path('editions_show') }}"> Editions </a>
            <a class="navbar-item" href="{{ path('langues_show') }}"> Langues </a>
        </div>
    </div>
    </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {{ form_start(form, {'attr': {'class': 'field has-addons'}}) }}
            <div class="control">
                {{ form_widget(form.search, {'attr': {'class': 'input is-small'}}) }}
            </div>
            <div class="control">
                {{ form_widget(form.save, {'attr': {'class': 'button is-primary'}}) }}
            </div>
            {{ form_end(form) }}

            <p class="title">Voici les cartes :</p>
            <p>

            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody>
                {% for carte in cartes %}
                    <tr onclick="window.location='{{ path('carte_show', {'id': carte.getId()}) }}';" style="cursor: pointer;">
                        <td>
                            <img src="{{ carte.getCarteImage() }}" alt="{{ carte.getCarteNom() }}" width="50" height="50">
                        </td>
                        <td>{{ carte.getCarteNom() }}</td>
                        <td>{{ carte.getCarteCategorie() }}</td>
                        <td>{{ carte.getCarteType() }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <p>
                <a href="{{ path('cartes_show', {'page': 1}) }}" class="button is-info">Première page</a>
                {% if page > 1 %}
                    <a href="{{ path('cartes_show', {'page': page - 1}) }}" class="button is-info">Page précédente</a>
                {% endif %}
                {% if page < totalPages %}
                    <a href="{{ path('cartes_show', {'page': page + 1}) }}" class="button is-info">Page suivante</a>
                {% endif %}
                <a href="{{ path('cartes_show', {'page': totalPages}) }}" class="button is-info">Dernière page</a>
            </p>
            <p> <br></p>
            <p>
            <div class="columns">
                <div class="column is-4"></div>
                <div class="column is-4">
                    <button class="button is-success is-rounded is-medium is-fullwidth is-responsive"
                            onclick="window.location='{{ path('insert_carte') }}';" style="cursor: pointer;"
                    >Ajouter une carte</button>
                </div>
                <div class="column is-4"></div>
            </div>
            </p>

        </div>
    </div>
{% endblock %}

