
{% extends 'base.html.twig' %}


{% block body %}

    <div id="navbarMenuHeroB" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item is-active" href="{{ path('cartes_show') }}"> Cartes </a>
            <a class="navbar-item" href="{{ path('editions_show') }}"> Editions </a>
            <a class="navbar-item" href="{{ path('cartes_show') }}"> Langues </a>
        </div>
    </div>
    </div>
    </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">

            <div class="columns">
                <div class="column is-4"></div>

                <div class="column is-4">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Nom</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carte_nom, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Attribut</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carte_attribut, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Catégorie</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carte_categorie, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Niveau</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carte_niveau, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Image</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carte_image, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Type</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carte_type, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Spécificité</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carte_specificite, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">ATK</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carteATK, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">DEF</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carteDEF, {'attr': {'class': 'input'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label is-normal">
                            <label class="label">Description</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.carte_description, {'attr': {'rows': '6', 'cols': '25'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="field">
                                <p class="control">
                                    {{ form_widget(form.save, {'attr': {'class': 'button is-primary'}}) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    {{ form_end(form) }}

                </div>

            </div>


        </div>
    </div>

{% endblock %}






